<img src="../img/toilet.png"  alt="logo">
{{#if user}}
Welcome {{user.username}}!
{{/if}}
<h1>LOOkup</h1>
<p>The #1 bathroom locator for your number 1 and number 2 bathroom needs!</p>

<h1>Testimonials from Satisfied Customers</h1>
