{{#if user}}
You are currently logged in as {{user.username}}
To add a bathroom, click <a href="/bathrooms"> here </a>.
<br>
<a href="/logout">Logout</a>
{{else}}
Welcome!
<br>
Find number one bathrooms for number one and number two.
<br>
But please login first. 
<br>
<a href="/login">Login</a> | <a href="/register">Register</a>
{{/if}}
