<!--index.hbs
 Copyright © 2018 Daisy Zheng <dz994@nyu.edu>
 License: Apache License, Version 2.0-->

<link rel="stylesheet" type="text/css" href="css/index.css">
<div id ="slogan" style="height=100vh"><img src="../img/slogan.png"  alt="logo"></div>
