<!--register.hbs
 Copyright © 2018 Daisy Zheng <dz994@nyu.edu>
 License: Apache License, Version 2.0-->

<h1>Welcome!</h1>
<hr>
<form method = "POST" action = "/register" id="registrationForm">
	Username: <input type = "text" name = "username" class="styledInput">
	Password: <input type = "password" name = "password" class="styledInput">
	<br>
	<input type = "submit" value = "Register" style="margin-left:50%;margin-top:3%;">
</form>
