h1 {
  font-family: 'Montserrat', sans-serif;
}

button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
}

body {
  margin-top: 60px;
  padding: 2%;
  background-color: #9fdb90;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/*Contact Page Styles*/

#contactStyles {
  width: 40%;
  height: 300px;
  background-color: #77bc65;
  margin: auto;
  padding: 2%;
  text-align: justify;
}

/*bathrooms.hsb styles*/
#bathroomForm{		/*form style block*/
		margin:auto;
		width:60%;
		padding:2%;
		background-color:#fff8c9;
		margin-bottom:2%;
}

input{		/*form style spacing*/
	margin:0.5;
}
.styledInput{		/*form style for name, location, rating*/
	width:100%;
}

.newBathroom{		/*bathroom rating style: inside divs*/
	width:30%;
	height:100%;
	background-color:#719e53;
	padding:2%;
	margin-left:14%;
	margin-bottom:2%;
	display:inline-block;

}

#allBathrooms{ /*bathroom rating style: container*/
	margin:auto;
	width:90%;
	padding:2%;
}

#allBathrooms a{ /*bathroom name link style*/
	color:#2b492a;
	text-decoration: none;
}

#allBathrooms a:hover{
	color:#b1d8b2;
	transition:1s;
}

#allBathrooms ul{
	list-style:none;
}
